.pagination-wrap {
  margin-top: 40px;
  width: 100%;
  .btn {
    border-radius: 0;
    text-transform: none;
    border-radius: 20px;
    color: $primary;
    max-width: 100%;
    font-size: 20px;
    margin-bottom: 40px;
  }
  .helper-btn {
    margin-left: 30px;
    display: flex;
  }
  .output {
    span {
      font-size: 18px;
      color: $secondary;
    }
    .select2-container {
      min-width: 100px;
    }
    .select2-container .select2-selection--single .select2-selection__rendered {
      padding: 0;
      height: auto;
    }
    .select2-selection__rendered {
      color: $primary;
    }
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.pagination {
  display: flex;
  @include list-unstyled();
}

.page-link {
  position: relative;
  display: block;
  min-width: 48px;
  height: 48px;
  border: 2px solid $secondary-200;
  margin: 5px;
  border-radius: 20px;
  font-size: 18px;
  text-align: center;
  padding: $pagination-padding-y $pagination-padding-x;
  // line-height: $pagination-line-height;
  color: $secondary-200;
  background-color: $pagination-bg;

  &:hover {
    z-index: 2;
    text-decoration: none;
    background-color: #FCEBDB;
  }

  &:focus {
    z-index: 2;
  }
}

.page-item {
  &:first-child {
    .page-link {
      margin-left: 0;
    }
  }

  &.active .page-link {
    z-index: 1;
    color: $primary;
    &:hover {
      background-color: transparent;
    }
  }

  &.disabled .page-link {
    display: none;
    color: $pagination-disabled-color;
    pointer-events: none;
    // Opinionated: remove the "hand" cursor set previously for .page-link
    cursor: auto;
    background-color: $pagination-disabled-bg;
    border-color: $pagination-disabled-border-color;
  }
}


//
// Sizing
//

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $line-height-lg, $border-radius-lg);
}

.pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
}
