.steps-order {
   margin-top: 0;
   margin-bottom: 10px;
   align-items: center;
   .basket-nav-link {
      position: relative;
      margin-right: 0;
      text-transform: none;
      font-size: 14px;
      color: #000;
      &.disabled {
         color: $secondary;
         cursor: auto;
         &:hover {
            color: $secondary;
         }
      }
      &:hover {
         color: $primary;
      }
      &.active {
         &:hover {
            color: #000;
         }
         &:after {
            position: absolute;
            content: "";
            left: 0;
            width: 100%;
            background-color: #000;
            height: 1px;
            bottom: 0;
         }
      }
   }
   .basket-nav-item {
      margin: 0 5px;
   }
}

.basket-nav-down-link {
   position: relative;
   text-transform: uppercase;
   margin-right: 30px;
   color: #000;
   &:after {
      position: absolute;
      content: "";
      bottom: -7px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: $primary;
      transition: .3s;
   }
   &.active {
      &:hover {
         color: #000;
      }
      &:after {
         width: 100%;
      }
   }
}

.basket-page-content-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}

.basket-page-content {
   width: 100%;
}

.basket-content {
   width: 100%;
   margin-right: 30px;
   .product-basket-title {
      h3 {
         height: auto;
      }
   }
   .nav-tabs {
      margin-top: 0;
   }
   .select-map {
      display: none;
      margin-top: 30px;
      font-weight: 700;
   }
   &__settings {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      .selected-wrap {
         display: flex;
         align-items: center;
      }
      .wrap {
         display: flex;
         align-items: center;
      }
      p {
         margin-bottom: 0;
      }
      .selected-products {
         display: inline-block;
         margin-left: 10px;
         font-family: $font-family-bold;
      }
      .select-all span {
         &:before {
            top: -10px;
         }
         &:after {
            top: -9px;
         }
      }
      .btn-settings {
         display: inline-block;
         width: auto;
         font-size: 14px;
         vertical-align: middle;
         margin-left: 30px;
         height: 35px;
         padding: 0 10px;
         svg {
            fill: $secondary;
            margin-right: 7px;
            transition: .3s;
         }
         &:hover {
            svg {
               fill: $primary;
            }
         }
      }
      .remove-select {
         svg {
            display: none;
         }
      }
      .mobile-icon {
         display: none;
      }
   }
   .select2-container {
      min-width: 320px;
      max-width: 320px;
   }
}

.basket__list {
   .product {
      display: flex;
      align-items: normal;
      max-width: none;
      justify-content: space-between;
      &__one {
         display: flex;
         flex: none;
         label.checkbox-input span:before {
            top: 40px;
         }
         label.checkbox-input span:after {
            top: 41px;
         }
      }
      &__two {
         width: 100%;
         .code {
            display: block;
            margin-left: 0;
         }
         a {
            max-width: none;
         }
      }
      .remove-favorite {
         position: absolute;
         top: 10px;
         right: 30px;
         padding: 0;
         border: none;
         background-color: #fff;
         order: 5;
         svg {
            fill: $secondary;
         }
      }
      .current-price {
         position: static;
      }
      a {
         display: flex;
         margin-right: 0;
         justify-content: space-between;
      }
      .action-product {
         display: inline-block;
         margin-top: 0;
         margin-right: 0;
         .price {
            margin-right: 0;
         }
      }
      .counter {
         margin-top: 0;
         margin-right: 30px;
      }
   }
   .basket-product-delete {
      position: absolute;
      top: 5px;
      right: 10px;
      svg {
         fill: $secondary;
      }
   }
   .availability {
      position: relative;
      margin-top: 20px;
      max-width: 500px;
      background-color: $white;
      &-list {
         columns: 2;
      }
      &-header {
         font-size: 14px;
         color: $primary;
      }
      &-close {
         position: absolute;
         top: 10px;
         right: 10px;
         border: none;
         background-color: transparent;
      }
      p {
         font-size: 14px;
         padding: 3px 0;
         color: $secondary;
         margin-bottom: 0;
         span {
            font-size: 12px;
         }
      }
      &-title,
      &-header,
      &-close {
         display: none;
      }
      &.show {
         display: block;
         width: 100%;
         border: 1px solid #E7E7E7;
         box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.06);
      }
   }
   .counter-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
   }
}

.basket-info {
   flex: none;
   max-width: 465px;
   width: 100%;
   padding: 25px 60px 80px 40px;
   background-color: $secondary-300;
   .btn-edit {
      border: none;
      background: none;
      vertical-align: bottom;
      display: inline-block;
      svg {
         fill: $secondary;
      }
   }
   p {
      font-size: 14px;
   }
   .sum-pay {
      font-size: 24px;
      margin-bottom: 15px;
   }
   .total-sum {
      font-size: 48px;
      font-family: $font-family-bold;
      margin-bottom: 5px;
   }
   .basket-count-products {
      font-size: 24px;
   }
   .count-products {
      font-family: $font-family-bold;
   }
   .bonus-order {
      color: $secondary;
      span {
         font-size: 18px;
      }
   }
   .btn {
      margin-top: 40px;
   }
   &__delivery {
      h6 {
         font-size: 14px;
         color: $secondary;
         font-family: $font-family-base;
         margin-bottom: 5px;
      }
   }
}

.coupon-wrap {
   flex-basis: 48%;
}

.red-text {
   color: $red;
}

.gray-text {
   color: $secondary;
}

.bonuses {
   margin-top: 30px;
   p {
      font-size: 18px;
   }
   .calc-bonus {
      display: block;
      font {
         font-size: 12px;
      }
   }
}

.date-order {
   margin-top: 30px;
   margin-bottom: 47px;
   span {
      font-family: $font-family-bold;
   }
}

.pickup {
   .input-wrap {
      margin-bottom: 20px;
   }
   form {
      text-align: center;
      max-width: 320px;
      span {
         display: inline-block;
         margin: 10px 0;
         font-size: 14px;
         color: $secondary;
      }
   }
   &-var {
      display: flex;
      justify-content: space-between;
   }
   &-point {
      margin-top: 10px;
      color: $secondary;
   }
}

.delivery {
   &-map {
      width: 100%;
      height: 450px;
      margin-left: auto;
      &-wrap {
         max-width: 600px;
         width: 100%;
         margin-left: 30px;
      }
      &-link {
         display: none;
         margin-top: 10px;
         font-family: $font-family-bold;
      }
   }
   .input-wrap {
      margin-bottom: 20px;
   }
   .cost-delivery {
      margin-top: 30px;
   }
   .cost-delivery,
   .date-delivery {
      margin-bottom: 35px;
   }
   form {
      text-align: center;
      max-width: 320px;
      p {
         display: block;
         text-align: left;
         color: $secondary;
      }
      span {
         display: inline-block;
         text-align: center;
         margin: 10px 0;
         font-size: 14px;
         color: $secondary;
      }
   }
   &-var {
      display: flex;
      justify-content: space-between;
   }
}
.company {
   width: 320px;
   display: inline-block;
   margin-right: 30px;
   .select2-container {
      display: block;
   }
}

.pay {
   h5 {
      margin-bottom: 15px;
   }
   .img-wrap {
      display: inline-block;
      margin-left: 15px;
      border-radius: 3px;
   }
   .radio-input {
      line-height: 30px;
   }
   &-wrap {
      margin-top: 40px;
      max-width: 320px;
      text-align: center;
      span {
         display: inline-block;
         margin: 20px 0 10px;
         font-size: 14px;
         color: $secondary;
      }
   }
}

.block-pay {
   p {
      font-size: 18px;
   }
   form {
      display: flex;
      margin-bottom: 40px;
      .input-wrap {
         margin-right: 15px;
      }
      .btn {
         flex: none;
         max-width: 150px;
         margin-top: 0;
      }
   }
   .maxmin {
      font-size: 14px;
   }
}

.confirm {
   h5 {
      font-size: 24px;
      margin-bottom: 20px;
   }
   &__wrap {
      display: table;
      table-layout: fixed;
      width: 100%;
   }
   &__row {
      display: table-row;
   }
   &__cell {
      display: table-cell;
      padding-bottom: 10px;
      a {
         color: $black;
         &:hover {
            color: $primary
         }
      }
      &:nth-child(2) {
         padding-right: 30px;
      }
      &:last-child {
         text-align: right;
      }
   }
   .product-title {
      // color: $primary;
      font-weight: 700;
   }
   .product-description {
      // color: $primary;
   }
   &__product {
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 2px solid $secondary-300;
      p {
         font-family: $font-family-bold;
         margin-bottom: 0;
         font-size: 24px;
      }
   }
   &__address {
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 2px solid $secondary-300;
   }
   &__get-check {
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 2px solid $secondary-300;
      .nav-tabs {
         margin-top: 0;
      }
      img {
         margin-left: 15px;
      }
   }
   &__options {
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 2px solid $secondary-300;
   }
   &__checkbox {
      textarea {
         width: 100%;
         height: 180px;
         margin-bottom: 20px;
      }
   }
   &__card-info {
      .img-wrap {
         display: inline-block;
         margin-bottom: 60px;
         position: relative;
         input {
            padding: 0;
         }
      }
      .card-number {
         position: absolute;
         max-width: 265px;
         top: 80px;
         left: 38px;
      }
      .card-validity {
         position: absolute;
         bottom: 55px;
         left: 33px;
         display: flex;
         color: $secondary;
         input {
            margin: 0 5px;
            text-align: center;
            max-width: 40px;
         }
      }
      .cvc {
         position: absolute;
         text-align: center;
         right: 45px;
         bottom: 75px;
         max-width: 50px;
         &::placeholder {
            color: $secondary-300
         }
      }
      p {
         margin-top: 30px;
         font-size: 14px;
         color: $secondary;
      }
   }
   .total-sum {
      margin-top: 15px;
   }
   h6 {
      font-family: $font-family-base;
      color: $secondary;
   }
   .input-wrap {
      margin-bottom: 20px;
      span {
         &:before {
            top: 3px;
         }
         &:after {
            top: 4px;
         }
      }
   }
}


.map-delivery {
   flex: none;
   max-width: 605px;
   p {
      padding: 25px;
      background-color: $secondary-300;
      font-size: 14px;
   }
}

.order-title {
   font-size: 24px;
   font-family: $font-family-bold;
}