.calculated-page {
   max-width: 100%;
   .nav-tabs {
      max-width: 1100px;
      padding-bottom: 30px;
      margin-bottom: 15px;
      border-bottom: 2px solid $secondary-300;
      .nav-link {
         margin-right: 35px;
      }
   }
   .tab-content {
      max-width: 1100px;
   }
}

.calc-function {
   display: flex;
   border-bottom: 1px solid #F5F5F5;
   .calc-col {
      margin-right: 50px;
   }
   .input-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      span {
         color: #B1B5C2;
      }
   }
   .form-control {
      flex: none;
      max-width: 65px;
      margin-right: 5px;
   }
}

.calc-power {
   .calc-function {
      display: block;
      svg {
         fill: $secondary;
         cursor: pointer;
         transition: .3s;
         &:hover {
            fill: $primary;
         }
      }
   }
   .calc-table {
      display: flex;
      margin-top: 15px;
      margin-bottom: 20px;
      .calc-item {
         margin-left: 55px;
      }
   }
}

.capacity-result,
.voltage-result,
.focal-result,
.power-result {
   margin-top: 20px;
   p {
      margin-bottom: 7px;
      span {
         font-family: $font-family-bold;
      }
   }
}

.power-table {
   display: table;
   // width: 100%;
   &-head {
      color: $secondary;
   }
   &-row {
      display: table-row;
   }
   &-cell {
      display: table-cell;
      vertical-align: bottom;
      width: 185px;
      & > div {
         margin-right: 30px;
         margin-bottom: 15px;
      }
      &:first-child {
         & > div {
            margin-right: 5px;
         }
      }
      .select2-container {
         width: 100%!important;
         .select2-selection__rendered {
            padding-left: 0;
            padding-bottom: 0;
            font-size: 18px;
            height: 43px;
         }
      }
      .input-wrap {
         margin-bottom: 0;
      }
      .form-control {
         max-width: 100px;
      }
   }
   .grey-cell {
      color: $secondary;
      .form-control {
         border-color: $secondary;
      }
   }
}