.compare {
   position: relative;
   // display: flex;
   flex: none;
   width: 100%;
   &__row {
      padding-left: 300px;
   }
   .top-input-wrap {
      display: none;
   }
   &__characteristic {
      position: absolute;
      top: 0;
      left: 0;
      width: 290px;
      z-index: 1;
      .input-wrap {
         height: 470px;
      }
   }
   &__cell {
      position: relative;
      width: 290px;
      margin: 0 10px;
      .input-wrap {
         span {
            &:before {
               top: 4px;
            }
            &:after {
               top: 5px;
            }
         }
      }
      .compare-delete {
         position: absolute;
         cursor: pointer;
         top: 5px;
         right: 5px;
         z-index: 1;
         svg {
            fill: $secondary-200;
            transition: .3s;
         }
         &:hover {
            svg {
               fill: $primary;
            }
         }
      }
   }
   .product-wrap {
      height: 470px;
   }
   .product-wrap {
      padding: 0;
   }
   &-title {
      color: $secondary;
   }
   .product-compare-description {
      font-size: 14px;
      height: 288px;
   }
}