.section-title {
   display: inline-block;
   color: $black;
   font-size: 32px;
   font-family: $font-family-bold;
   margin-bottom: 50px;
}

.title-info-page {
   margin-bottom: 40px;
   max-width: 930px;
}

.custom-list {
   list-style: none;
   padding-left: 25px;
   li {
      position: relative;
      margin-bottom: 25px;
      &:before {
         position: absolute;
         content: "";
         top: 7px;
         left: -25px;
         width: 10px;
         height: 10px;
         background: #000;
      }
   }
}

.slider-btn {
   position: absolute;
   width: 48px;
   height: 48px;
   border: none;
   background-color: transparent;
   z-index: 1;
   svg {
      fill: #000000;
      transition: .3s;
   }
   &:disabled {
      svg {
         fill: #C2CFE0;
      }
      &:hover {
         svg {
            fill: #C2CFE0;
         }
      }
   }
   &:hover {
      svg {
         fill: #F2994A;
      }
   }
   &:active {
      svg {
         fill: #EDD6C0;
      }
   }
}

.row-slider {
   margin-bottom: 70px;
}

.products-slider {
   .slider-btn {
      top: -90px;
   }
   .left-btn {
      right: 38%;
   }
   .right-btn {
      right: 35%;
   }
}

label.checkbox-input {
   position: relative;
   display: block;
   cursor: pointer;
   padding-left: 28px;
   user-select: none;
   &:last-child {
      margin-bottom: 0;
   }
   span:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      border-radius: 5px;
      border: 2px solid $secondary;
   }
   span:after {
      position: absolute;
      content: "";
      top: 1px;
      left: 3px;
      width: 13px;
      height: 13px;
      opacity: 0;
      background: url(../svg/check.svg);
      transition: .3s;
   }
}

label.radio-input {
   position: relative;
   display: block;
   cursor: pointer;
   padding-left: 28px;
   user-select: none;
   &:last-child {
      margin-bottom: 0;
   }
   span:before {
      position: absolute;
      content: "";
      top: 4px;
      left: 0;
      width: 18px;
      height: 18px;
      border-radius: 100%;
      border: 2px solid $secondary;
   }
   span:after {
      position: absolute;
      content: "";
      top: 8px;
      left: 4px;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      opacity: 0;
      background-color: $black;
      transition: .3s;
   }
}

input:checked + span:after {
   opacity: 1;
}
