[class*="ymaps-2"][class*="-ground-pane"] {
   filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
   -webkit-filter: grayscale(100%);
}

.contacts {
   flex: none;
   width: 90%;
   .all-address {
      margin-bottom: 60px;
      p {
         margin-bottom: 10px;
      }
      a {
         position: relative;
         text-transform: uppercase;
         color: $black;
         &:after {
            position: absolute;
            content: "";
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $black;
         }
      }
   }
   .big-order {
      .input-wrap {
         margin-bottom: 10px;
      }
      button {
         margin-top: 30px;
      }
   }
}

.city {
   margin-bottom: 80px;
   h3 {
      position: relative;
      margin-bottom: 30px;
      &:after {
         position: absolute;
         content: "";
         bottom: -15px;
         left: 0;
         width: 100%;
         height: 2px;
         background-color: $secondary-300;
      }
   }
   &__address {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
   }
   .address-info {
      // flex: none;
      display: inline-block;
      width: 45%;
      a {
         color: $black;
         &:hover {
            color: $primary;
         }
      }
      p {
         display: table-row;
         span {
            display: table-cell;
            padding-bottom: 15px;
            font {
               display: block;
            }
         }
      }
      .info-row {
         color: $secondary;
         padding-right: 110px;
         span {
            color: $black;
         }
      }
   }
   .show-link {
      display: none;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      color: $primary!important;
   }
}

.map {
   display: inline-block;
   width: 100%;
   height: 240px;
   flex: none;
   &-close {
      display: none;
   }
   &-wrap {
      display: block;
      width: 50%;
   }
}