.feedback-wrap {
   .btn {
      margin-top: 40px;
      margin-bottom: 20px;
   }
   .input-wrap {
      margin-bottom: 20px;
   }
   textarea {
      margin-top: 30px;
      border: 1px solid #000;
      max-width: 770px;
      width: 100%;
   }
}