.filter {
   position: relative;
   padding: 15px 10px 0 10px;
   flex: none;
   margin-left: 30px;
   width: 300px;
   font-size: 14px;
   background-color: #fff;
   .show-results {
      position: absolute;
      left: -135px;
      width: 130px;
      background-color: $primary;
      color: #fff;
      text-transform: capitalize;
   }
   &__block {
      padding: 20px 0;
      border-bottom: 2px solid $secondary-300;
      h4 {
         position: relative;
         display: inline-block;
         cursor: pointer;
         font-size: 16px;
         margin-bottom: 0;
         &:after {
            position: absolute;
            content: "";
            top: 7px;
            right: -15px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 4px 6px 4px;
            border-color: transparent transparent $black transparent;
            transition: .3s;
         }
         &.active {
            &:after {
               transform: rotate(180deg);
            }
         }
      }
      .input-wrap {
         margin-top: 15px;
      }
   }
   &__buttons {
      display: flex;
      margin-top: 20px;
      button {
         padding: 5px;
         svg {
            margin-right: 0;
         }
      }
   }
   &-reset {
      margin-right: 10px;
      svg {
         fill: $secondary;
      }
   }
   &-btn {
      display: none;
      margin-right: 10px;
      position: relative;
      font-family: $font-family-bold;
      z-index: 4;
      span {
         display: inline-block;
         text-align: center;
         margin-left: 5px;
         width: 21px;
         height: 21px;
         border: 1px solid #C2CFE0;
      }
      .hide-fil {
         display: none;
      }
      &.active {
         .show-fil {
            display: none;
         }
         .hide-fil {
            display: inline-block;
         }
         svg {
            transform: rotate(180deg);
         }
      }
   }
}
.two-column .input-wrap {
   columns: 2;
}

.selected-filter {
   margin-bottom: 30px;
   .selected-item {
      display: inline-block;
      vertical-align: top;
      border-radius: 20px;
      font-size: 14px;
      font-weight: 600;
      border: 1px solid $primary;
      margin: 5px 20px 5px 0;
      // height: 34px;
      padding: 5px 10px;
      cursor: pointer;
      user-select: none;
      transition: .3s;
      .close-filter {
         display: none;
      }
      &:hover {
         border-color: #FCEBDB;
         background-color: #FCEBDB;
      }
      &.active {
         .close-filter {
            display: inline-block;
         }
         border-color: #FCEBDB;
         background-color: #FCEBDB;
      }
   }
}

.sorting {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 40px;
   font-size: 14px;
   .view {
      border: 2px solid transparent;
      background-color: transparent;
      margin-left: 10px;
      cursor: pointer;
      transition: .3s;
      svg {
         fill: $secondary-200;
         transition: .3s;
      }
      &.active {
         border-color: #FCEBDB;
         background-color: #FCEBDB;
         svg {
            fill: #F2994A
         }
      }
   }
   &__functional {
      display: flex;
      align-items: center;
   }
   &__list {
      span {
         display: inline-block;
         position: relative;
         border-radius: 20px;
         padding: 5px 10px 5px 10px;
         margin: 5px 0;
         cursor: pointer;
         margin-left: 15px;
         font-size: 14px;
         user-select: none;
         transition: .3s;
         &:hover {
            background-color: #FCEBDB;
         }
         &:after {
            position: absolute;
            display: none;
            content: "";
            top: 13px;
            right: 10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 4px 0 4px;
            border-color: #000000 transparent transparent transparent;
         }
         &.decrease {
            background-color: #FCEBDB;
            padding-right: 30px;
            &:after {
               display: inline-block;
            }
         }
         &.increase {
            background-color: #FCEBDB;
            padding-right: 30px;
            &:after {
               display: inline-block;
               transform: rotate(180deg);
            }
         }
      }
   }
}