$path-font: "../fonts" !default;

@font-face {
    font-family: 'Montserrat';
    src: url('#{$path-font}/Montserrat-Regular.eot');
    src: url('#{$path-font}/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$path-font}/Montserrat-Regular.woff2') format('woff2'),
        url('#{$path-font}/Montserrat-Regular.woff') format('woff'),
        url('#{$path-font}/Montserrat-Regular.ttf') format('truetype'),
        url('#{$path-font}/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat_B';
    src: url('#{$path-font}/Montserrat-Bold.eot');
    src: url('#{$path-font}/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$path-font}/Montserrat-Bold.woff2') format('woff2'),
        url('#{$path-font}/Montserrat-Bold.woff') format('woff'),
        url('#{$path-font}/Montserrat-Bold.ttf') format('truetype'),
        url('#{$path-font}/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}