.footer {
   position: relative;
   background-color: $secondary-300;
   padding-bottom: 60px;
   font-size: 13px;
   z-index: 10;
   .col-xl-8 {
      max-width: 61.66666%;
   }
   .full-version {
      display: none;
   }
   .social {
      display: flex;
      a {
         margin-left: 30px;
         svg {
            fill: $black;
            transition: .3s;
         }
      }
   }
   &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 30px;
      margin-bottom: 35px;
      .img-wrap {
         flex: none;
         width: 135px;
         margin-right: 15px;
         img {
            width: 100%;
         }
      }
      .subscribe {
         display: flex;
         align-items: center;
         span {
            white-space: nowrap;
            margin-right: 10px;
            font-family: $font-family-bold;
            br {
               display: none;
            }
         }
         form {
            display: flex;
            align-items: center;
         }
         .btn {
            width: auto;
            margin-left: 20px;
         }
      }
   }
   &__bot {
      display: flex;
      justify-content: space-between;
      .subscribe {
         span {
            margin-right: 10px;
            font-family: $font-family-bold;
         }
         input {
            margin: 10px 0 20px;
         }
         button {
            padding: 10px;
            flex: none;
            background-color: transparent;
            text-transform: uppercase;
            transition: .3s;
            &:hover {
               border-color: $primary;
               color: $primary;
            }
         }
      }
      .social {
         margin-top: 20px;
         a {
            margin-left: 0;
            margin-right: 30px;
         }
      }
   }
   &__column {
      flex-basis: 20%;
      vertical-align: top;
      margin-right: 15px;
      &:last-child {
         margin-right: 0;
      }
      h3 {
         position: relative;
         display: inline-block;
         font-size: 13px;
         margin-bottom: 20px;
      }
      .footer-title {
         &:after {
            display: none;
            position: absolute;
            content: "";
            top: 2px;
            right: -18px;
            width: 8px;
            height: 8px;
            border-right: 1px solid #333;
            border-bottom: 1px solid #333;
            transform: rotate(45deg);
            transition: .3s;
         }
         &.active {
            &:after {
               top: 6px;
               transform: rotate(-135deg);
            }
         }
      }
      li {
         margin-bottom: 7px;
      }
      a {
         font-size: 13px;
         color: #333333;
         &:hover {
            color: $primary;
         }
      }
   }
   .tablet-column {
      display: none;
   }
}

.subfooter {
   position: relative;
   font-size: 13px;
   z-index: 10;
   &__info {
      display: flex;
      justify-content: space-between;
      padding: 25px 0;
      a {
         color: #333333;
         &:hover {
            color: $primary;
         }
      }
   }
}