.header {
   position: relative;
   padding: 10px 0 15px;
   background-color: #fff;
   box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.06);
   font-size: 13px;
   height: 100px;
   z-index: 5;
   .helper {
      display: flex;
      align-items: center;
   }
   .col-xl-6 {
      position: static;
   }
   .logo {
      img {
         width: 100%;
      }
   }
   &__contacts {
      .location {
         color: $black;
         display: inline-block;
         font-family: $font-family-bold;
         margin-right: 40px;
         svg {
            margin-top: -5px;
         }
         &:hover {
            color: $primary;
         }
      }
   }
   &__phone {
      font-family: $font-family-bold;
   }
   .compare-header,
   .like,
   .basket {
      font-family: $font-family-bold;
      svg {
         fill: $secondary;
         transition: .3s;
      }
      a {
         color: #333333;
         &:hover {
            svg {
               fill: $primary;
            }
         }
      }
   }
   .like {
      position: relative;
      span {
         display: none;
         position: absolute;
         top: 8px;
         right: 10px;
         font-size: 10px;
         color: $white;
      }
   }
   .like.active {
      svg {
         fill: $primary;
      }
      span {
         display: block;
      }
   }
   .basket {
      &__info {
         display: none;
         vertical-align: middle;
         text-align: left;
         .number-wrap {
            width: 20px;
            height: 20px;
            color: $white;
            border-radius: 100%;
            text-align: center;
            background-color: $primary;
         }
         .number-goods {
            font-size: 10px;
            padding: 3px;
         }
         .total-price {
            margin-left: 3px;
         }
      }
   }
   .basket.active {
      svg {
         fill: $primary;
      }
      .total-price {
         color: $primary;
      }
      .basket__info {
         display: inline-block;
      }
   }
   .search-area {
      display: none;
   }
   .row-fixed {
      display: none;
   }
   &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 11;
      .row-relative {
         .row {
            display: none;
         }
         .row-fixed {
            display: flex;
         }
      }
   }
}

.top-menu {
   li {
      display: inline-block;
      margin-left: 25px;
   }
   a {
      font-family: $font-family-bold;
      color: $secondary;
      &:hover {
         color: $primary;
      }
   }
}

.search {
   // max-width: 435px;
   margin-top: 5px;
   position: relative;
   &__input {
      width: 100%;
      padding: 5px 35px 5px 10px;
      border: none;
      border-bottom: 1px solid $secondary-200;
      font-size: 14px;
      &:focus {
         outline: none;
      }
   }
   &__clear {
      display: none;
      position: absolute;
      cursor: pointer;
      top: 50%;
      right: 35px;
      font-size: 18px;
      transform: translateY(-50%);
   }
   &__btn {
      position: absolute;
      top: 3px;
      right: 0;
      border: none;
      background: none;
   }
   &__results {
      position: absolute;
      padding: 10px;
      top: 32px;
      left: 0;
      background-color: #fff;
      width: 100%;
   }
}

.top-ui {
   // margin-top: 5px;
   & > div {
      vertical-align: middle;
      display: inline-block;
      margin-left: 20px;
   }
   a {
      font-family: $font-family-bold;
      color: #333333;
      &:hover {
         color: $primary;
      }
   }
}

.tablet-menu {
   position: absolute;
   display: none;
   padding: 15px 10px;
   width: 250px;
   top: 51px;
   left: 0;
   background-color: #fff;
   box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.06);
   .top-tablet-menu {
      padding-left: 25px;
      li {
         display: block;
         margin-bottom: 10px;
         padding-bottom: 5px;
      }
      a {
         font-family: $font-family-bold;
         color: $secondary;
         &:hover {
            color: $primary;
         }
      }
   }
   .main-menu {
      padding-left: 20px;
      &__item {
         display: block;
      }
      a {
         position: relative;
         display: flex;
         align-items: center;
         width: 100%;
         text-decoration: none;
         padding: 5px 0;
         color: #333333;
         font-family: $font-family-bold;
         svg {
            flex: none;
            fill: $primary;
            margin-right: 10px;
            transition: .3s;
         }
      }
   }
}