.top-menu {
   &:before {
      position: absolute;
      content: "";
      background-color: #fff;
      right: 0;
      width: 200%;
      height: auto;
      z-index: 1;
   }
}
.row-relative {
   position: relative;
   .overlay-submenu {
      position: absolute;
      // background-color: #fff;
      padding-bottom: 15px;
      overflow: hidden;
      top: 30px;
      right: 0;
      width: calc(100% - 15px);
      // box-shadow: 0px 10px 10px rgba(98, 98, 110, 0.15);
      z-index: 1;
   }
}
.menu {
   & > li {
      position: relative;
      &.active {
         a {
            color: $primary;
         }
      }
      &:hover > .submenu {
         display: block;
      }
   }
}

.submenu {
   display: none;
   position: absolute;
   background-color: #fff;
   border-radius: 8px;
   left: 0;
   z-index: 1;
   ul {
      padding-left: 0;
      display: inline-block;
   }
   li {
      margin-left: 0;
      margin-bottom: 10px;
      display: block;
      &:last-child {
         margin-bottom: 0;
      }
   }
   a {
      color: $black;
      white-space: nowrap;
      &:hover {
         color: $primary;
      }
   }
}

.submenu-fake {
   padding: 10px;
   opacity: 1;
   box-shadow: 0px 10px 10px rgba(98, 98, 110, 0.15);
   ul {
      margin-bottom: 0;
   }
}