/* .info-row {
   .col-xl-4 {
      flex-basis: 28.33333%;
      max-width: 28.33333%;
   }
} */

.row-add-slider {
   .slider-btn {
      top: -90px;
   }
   .left-btn {
      right: 38%;
   }
   .right-btn {
      right: 35%;
   }
   .slick-list {
      padding-left: 0!important;
   }
}

.info-block {
   max-width: 450px;
   margin-bottom: 30px;
   width: 100%;
   .img-wrap {
      height: 230px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin-bottom: 15px;
      img {
         max-width: 100%;
      }
   }
   .news-preview {
      height: 230px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 15px;
   }
   h6 {
      font-size: 24px;
      font-family: $font-family-base;
      font-weight: 600;
      color: $black;
   }
   .desc {
      color: $black;
   }
   a {
      color: #3F7CB4;
      &:hover {
         color: $primary;
         h6 {
            color: $primary;
         }
      }
      &:focus {
         color: #8F3FB4;
      }
   }
}