.login-form {
   form {
      max-width: 320px;
      width: 100%;
   }
   .input-wrap {
      margin-bottom: 30px;
      input {
         font-size: 18px;
      }
   }
   .verification {
      width: 65px;
      margin-bottom: 0;
   }
   .btn {
      margin-top: 30px;
   }
   .forgot {
      display: inline-block;
      margin-top: 25px;
      font-size: 14px;
      color: $secondary;
      &:hover {
         color: $primary;
      }
   }
}