@media (max-width: 1770px) {
   .personal {
      order: 2;
      &-wrap {
         flex-wrap: wrap;
      }
      &-info {
         flex-basis: 100%;
         max-width: 770px;
         padding-bottom: 20px;
         margin-bottom: 30px;
         order: 1;
         .mobile-hide-statistic {
            display: block;
            flex-basis: 100%;
            margin-left: 30px;
         }
         &__header {
            margin-bottom: 0;
         }
         .show-toggle {
            margin-top: 30px;
            padding-top: 10px;
            border-top: 1px solid $secondary-200;
            display: flex;
            .buy-decade,
            .months {
               display: none;
            }
         }
      }
      &-mobile-header {
         display: flex;
      }
      &-statistic {
         display: flex;
         flex-wrap: wrap;
         padding-top: 20px;
         flex: 1 1 auto;
         font-size: 14px;
         justify-content: space-between;
         .stat-title {
            padding-right: 0;
         }
         .stat-row {
            margin-left: 30px;
            span {
               display: block;
            }
         }
      }
      &-info__header {
         .personal-photo {
            margin-right: 15px;
         }
         p {
            font-size: 16px;
         }
      }
   }
}

@media (max-width: 1550px) {
   .main-slider {
      &__info {
         padding-left: 50px;
      }
   }
   .helper-block {
      padding-left: 10px;
      form .btn {
         margin-left: 10px;
      }
      span {
         font-size: 16px;
      }
   }
   .products-list {
      .product {
         .action-product {
            order: initial;
            flex-wrap: wrap;
            flex: auto;
            justify-content: flex-end;
            margin-top: 0;
            margin-right: 0;
            max-width: 120px;
         }
         .rating-wrap {
            order: initial;
         }
         &-action-wrap {
            justify-content: flex-end;
         }
         .price {
            white-space: nowrap;
            order: 1;
         }
         .current-price {
            right: 95px;
            bottom: -25px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
         }
         .old-price {
            position: static;
            order: 2;
            margin-bottom: 0;
         }
         .action-product {
            position: relative;
         }
         .compare-btn,
         .like-btn {
            margin-right: 0;
         }
         .btn-add {
            white-space: nowrap;
            margin-top: 15px;
            flex-basis: 100%;
         }
      }
   }
   .basket-page-content-wrapper {
      flex-wrap: wrap;
   }
   .basket-info {
      order: 1;
      flex-basis: 100%;
      max-width: 100%;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-bottom: 40px;
      .sum-to-pay {
         display: flex;
         align-items: flex-end;
         flex-basis: 48%;
         .sum-pay {
            margin-right: 15px;
            font-size: 22px;
            margin-bottom: 10px;
         }
         .total-sum {
            font-size: 32px;
         }
      }
      .input-pin {
         max-width: 70px;
      }
      .input-coupon {
         max-width: 160px;
      }
      .input-wrap {
         font-size: 16px;
      }
      .bonuses-info {
         padding-top: 15px;
         flex-basis: 48%;
      }
      .btn {
         margin-top: 0;
      }
      .standart {
         margin-top: 40px;
         margin-bottom: 0;
      }
      .basket-count-products {
         display: none;
      }
   }
   .basket-content {
      order: 2;
      .select-map {
         display: block;
      }
   }
   .city .address-info .info-row {
      padding-right: 30px;
   }
   .footer__top {
      .subscribe {
         span {
            br {
               display: block;
            }
         }
      }
   }
}

@media (max-width: 1350px) {
   .top-menu li {
      margin-left: 10px;
   }
   .top-ui > div {
      margin-left: 5px;
   }
   .nav-main .nav-link {
      padding-right: 0;
   }
   .products-slider,
   .main-slider,
   .row-add-slider {
      .left-btn {
         left: auto;
         right: 68px;
      }
      .right-btn {
         right: 20px;
      }
   }
   .footer {
      &__top {
         .subscribe,
         .social {
            display: none;
         }
      }
      &__bot {
         flex-wrap: wrap;
         .tablet-column {
            display: block;
         }
      }
      .full-version {
         display: block;
      }
      &__column {
         flex-basis: 50%;
         margin-right: 0;
      }
   }
   .product-detail {
      .col-xl-6 {
         flex-basis: 75%;
         max-width: 75%;
      }
      .col-xl-4 {
         .product-helper {
            display: none;
         }
      }
      .bottom-helper {
         display: block;
      }
      .nav-link {
         margin-right: 15px;
      }
   }
   .personal-wrap,
   .calculated-page {
      .nav-link {
         margin-right: 30px;
      }
      .nav-item {
         padding-bottom: 10px;
      }
   }
   .history {
      font-size: 14px;
      .status-dispatch {
         max-width: 175px;
         font {
            display: block;
         }
      }
   }
   .settlements {
      overflow-x: auto;
      &__table {
         width: 1040px
      }
   }
   .favorite {
      &__settings {
         p,
         .btn-settings {
            font-size: 14px;
            margin-left: 15px;
         }
      }
   }
}

@include media-breakpoint-down(lg) {
   .header__contacts .location {
      display: block;
      margin-right: 0;
      margin-bottom: 5px;
   }
   .search__input,
   .top-menu a,
   .top-ui a {
      font-size: 12px;
   }
   .nav-main .nav-link {
      font-size: 12px;
      svg {
         margin-right: 10px;
      }
   }
   .filter {
      display: none;
      position: absolute;
      padding-bottom: 40px;
      top: 160px;
      width: 100%;
      max-width: 305px;
      right: 0;
      border: 1px solid #F5F5F5;
      box-shadow: 0px 10px 10px rgba(98, 98, 110, 0.15);
      z-index: 3;
      &-btn {
         display: block;
      }
   }
   .basket {
      &-content__settings {
         font-size: 16px;
      }
      &__list .product {
         .action-product {
            text-align: center;
            margin-bottom: 15px;
            .price {
               font-size: 24px;
            }
         }
         .counter {
            flex-basis: 100%;
            margin-right: 0;
            order: 2;
            &-wrap {
               justify-content: center;
               flex-wrap: wrap;
            }
         }
      }
   }
}

@include media-breakpoint-down(md) {
   .header__contacts .location {
      display: inline-block;
      margin-right: 20px;
   }
   .header-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .d-flex {
         & > div {
            margin-left: 20px;
         }
      }
   }
   .top-ui {
      display: none;
   }
   .tablet-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .login {
         a {
            font-family: $font-family-bold;
            color: #333333;
         }
      }
      .search {
         max-width: 280px;
         width: 100%;
      }
   }
   .main-slider {
      margin-left: -15px;
      margin-right: -15px;
      &__info {
         padding-left: 20px;
         .bot-info {
            .btn {
               margin-right: 20px;
            }
            .category {
               margin-left: 0;
            }
         }
      }
   }
   .info-block-wrap {
      margin: 0 15px;
   }
   .footer .col-xl-8 {
      max-width: 100%;
   }
   .personal-info {
      max-width: none;
   }
   .selected-filter {
      margin-bottom: 15px;
      .selected-item {
         margin-bottom: 10px;
      }
   }
   .sorting {
      &__list {
         overflow: auto;
         max-width: 260px;
         width: 100%;
         margin-left: 10px;
         box-shadow: 4px 0px 3px 0px rgba(98,98,110,.15);
         flex: none;
         span {
            margin-left: 10px;
            font-size: 12px;
         }
      }
      &-wrap {
         display: flex;
         width: 100%;
      }
   }
   .history {
      &__add {
         max-width: 120px;
      }
      &__cell {
         max-width: 110px;
      }
   }
   .mobile-statistic-decade {
      margin-right: 10px;
   }
   .favorite {
      &__settings {
         .btn-settings {
            // border: 1px solid $black;
            border-radius: 0;
            width: 50px;
            height: 50px;
            padding: 8px;
            span {
               display: none;
            }
         }
         .remove-select {
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
               display: block;
               margin-right: 0;
            }
         }
      }
      .products-list .product .action-product {
         margin-right: 0;
      }
   }
   .calc-function {
      flex-wrap: wrap;
      .calc-col {
         margin-right: 0;
         margin-bottom: 30px;
         flex-basis: 50%;
      }
   }
   .contacts {
      width: 100%;
   }
   .city {
      .address-info {
         width: 100%;
      }
   }
   .map-wrap {
      max-width: 260px;
   }
   .compare {
      &__characteristic {
         box-shadow: 0px 1px 10px rgba(98, 98, 110, 0.1);
         padding: 0 5px 20px 5px;
         font-size: 12px;
      }
      .product-compare-description,
      .product-characteristic {
         font-size: 12px;
      }
   }
   .delivery {
      &-map {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         height: 80vh;
         &-link {
            display: block;
         }
         &-wrap {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            max-width: none;
            margin-left: 0;
            background-color: rgba(0,0,0,.5);
            z-index: 13;
            .map-close {
               position: absolute;
               display: block;
               top: 10px;
               right: 10px;
               z-index: 1;
            }
         } 
      }
   }
}

@include media-breakpoint-down(sm) {
   .header {
      height: 72px;
   }
   .main {
      &.head-fix {
         padding-top: 72px;
      }
   }
   .tablet-row {
      position: relative;
      .tablet-hamburger {
         display: none;
      }
      .logo {
         margin-left: 10px;
      }
      .search-btn {
         border: none;
         background: transparent;
         svg {
            width: 32px;
            height: 32px;
         }
      }
      .search-area {
         position: absolute;
         display: none;
         left: 0;
         top: 62px;
         width: 100%;
         padding: 10px;
         background-color: #fff;
         box-shadow: 0 5px 20px rgba(0,0,0,.08);
         .search__btn {
            top: 12px;
            right: 10px;
         }
      }
   }
   .product {
      margin: 0 auto 20px;
   }
   .products-list {
      .product {
         &-inner {
            flex-wrap: wrap;
            &-wrap1 {
               flex-wrap: wrap;
               .img-wrap {
                  margin-right: 10px;
                  flex-basis: 30%;
               }
               a {
                  flex-basis: 65%;
               }
            }
         }
         &-action-wrap {
            margin-top: 30px;
            width: 100%;
            justify-content: space-between;
         }
         .rating-wrap {
            text-align: left;
         }
      }
   }
   .main-slider {
      &__item {
         height: 570px;
         flex-direction: column;
         justify-content: space-between;
      }
      &__preview {
         order: 1;
         flex-basis: 100%;
      }
      &__info {
         order: 2;
         padding-top: 0;
         padding-bottom: 70px;
         flex-basis: 100%;
         height: 100%;
         font-size: 16px;
         box-shadow: 0px -20px 20px 20px #f5f5f5;
      }
      .slick-dots {
         width: auto;
         margin-left: 10px;
      }
      .bot-info {
         display: flex;
         flex-wrap: wrap;
         .category {
            order: 1;
            margin-left: 0;
            margin-bottom: 30px;
            flex-basis: 100%;
         }
         .btn {
            order: 2;
            max-width: 280px;
         }
      }
   }
   .section-title {
      font-size: 22px;
   }
   .row-slider {
      margin-bottom: 15px;
   }
   .info-block-wrap {
      margin: 0;
   }
   .pagination-wrap {
      .output {
         display: none;
      }
   }
   .main .text-wrap {
      font-size: 14px;
   }
   .main__content {
      padding-bottom: 60px;
   }
   .fotorama__wrap,
   .product-detail__right {
      margin: 40px auto 0;
   }
   .basket-info {
      display: block;
      .sum-to-pay {
         display: block;
      }
      .sum-pay {
         display: block;
         margin-right: 0;
         flex-basis: 100%;
      }
      .standart {
         margin-top: 10px;
      }
      .btn {
         margin-top: 15px;
      }
   }
   .basket-content {
      margin-right: 0;
      &__settings {
         .wrap {
            flex-basis: 100%;
            justify-content: space-between;
         }
         .btn-settings {
            width: 48px;
            height: 48px;
            padding: 10px 11px;
            margin-left: 5px;
            border-radius: 0;
            // border: 1px solid $black;
            svg {
               margin-right: 0;
            }
         }
      }
      .remove-select,
      .clean-basket {
         span {
            display: none;
         }
      }
      .remove-select {
         padding: 9px 11px 8px;
         svg {
            display: block;
            width: 22px;
            height: 22px;
         }
      }
      .clean-basket {
         .desktop-icon {
            display: none;
         }
         .mobile-icon {
            display: block;
         }
      }
   }
   .favorite__list {
      .product-wrap {
         padding: 0;
      }
      .product {
         padding-top: 20px;
         padding-left: 5px;
         .img-wrap {
            width: 65px;
            height: 65px;
            margin-right: 15px;
            flex: none;
         }
         .remove-favorite {
            display: none;
         }
      }
      .product__one {
         label.checkbox-input {
            padding-left: 0;
            span {
               &:before {
                  top: -20px;
                  left: -5px;
               }
               &:after {
                  top: -19px;
                  left: -2px;
               }
            }
         }
      }
      .product-basket-title {
         display: flex;
         justify-content: space-between;
      }
      .counter-wrap {
         flex-wrap: wrap;
         .product__description {
            flex-basis: 100%;
         }
      }
      .availability {
         display: none;
         columns: 1;
         &-title {
            display: block;
            font-size: 12px;
         }
         &-close {
            display: block;
         }
         &.show {
            position: absolute;
            padding: 10px;
            top: 90px;
            left: 0;
            z-index: 2;
         }
      }
   }
   .basket__list {
      .product {
         &-basket-title {
            flex-wrap: wrap;
            justify-content: flex-start;
            flex-basis: 100%;
         }
         h3 {
            margin-right: 30px;
         }
         .action-product {
            margin-bottom: 0;
         }
         .counter {
            margin-top: 10px;
            justify-content: flex-start;
            &-wrap {
               justify-content: flex-start;
            }
         }
         &__two {
            position: relative;
         }
      }
      .products-list {
         .product {            
            flex-wrap: nowrap;
         }
         a {
            flex-wrap: wrap;
            align-items: flex-start;
         }
         .product__description {
            flex-basis: 100%;
         }
      }
      .availability {
         position: absolute;
         display: none;
         padding: 5px 10px;
         top: 70px;
         left: 0;
         z-index: 2;
         &-title,
         &-close,
         &-header {
            display: block;
            font-size: 12px;
         }
         &-header {
            margin-bottom: 10px;
         }
      }
   }
   .favorite__list {
      .product__one {
         align-items: normal;
      }
      .product__two {
         margin-left: 70px;
      }
      .products-list {
         .product {
            flex-wrap: wrap;
            .code {
               margin-left: 10px;
            }
            a {
               flex: 1 1 auto;
               margin-right: 0;
               max-width: 245px;
            }
         }
      }
   }
   .popup-confirm {
      .popup__dialog {
         padding-right: 30px;
         padding-left: 30px;
      }
      &-content {
         display: block;
         width: 405px;
         .img-wrap {
            margin-bottom: 30px;
         }
      }
   }
   .popup-login {
      .popup__dialog {
         padding-right: 50px;
         padding-left: 50px;
      }
      &-content {
         margin: 0;
      }
   }
   .personal {
      .nav-tabs {
         padding-bottom: 15px;
      }
      &-statistic {
         padding-top: 0;
         flex-wrap: wrap;
      }
      &-info {
         position: relative;
         padding: 15px 15px 30px;
         .buy-decade {
            font-size: 14px;
         }
         .months {
            font-size: 12px;
         }
         &__header {
            .personal-photo {
               width: 70px;
               height: 70px;
            }
            .btn-edit {
               right: 0;
               bottom: 0;
            }
            h5 {
               font-size: 16px;
            }
            p {
               font-size: 14px;
            }
         }
      }
      .settlements {
         &__row {
            display: block;
         }
         .row-info {
            span {
               display: block;
               padding-left: 0;
            }
         }
         &__table {
            width: 100%;
            display: flex;
            overflow-x: auto;
            font-size: 14px;
         }
         .small-cell,
         .right-content {
            display: inline-block;
            text-align: left;
            margin-right: 15px;
         }
      }
   }
   .agreement {
      &__row {
         margin-bottom: 15px;
         padding-bottom: 15px;
         border-bottom: 1px solid $secondary-300;
         &:last-child {
            border: none;
         }
      }
   }
   .history {
      display: flex;
      position: relative;
      overflow-x: auto;
      overflow-y: hidden;
      &__row {
         display: block;
         padding-right: 30px;
         .code {
            font-size: 16px;
         }
      }
      .add-row {
         flex-wrap: wrap;
         border-bottom: 1px solid $secondary-300;
         padding-bottom: 5px;
         &-title {
            display: block;
         }
      }
      .unit-cost {
         max-width: 100px;
      }
      .status-dispatch {
         flex-basis: 100%;
         max-width: none;
         font {
            display: inline-block;
         }
         span {
            display: flex;
            justify-content: space-between;
         }
      }
      &__add {
         flex-basis: 50%;
         max-width: none;
         margin: 5px 0;
         &-info {
            .number-points {
               position: relative;
               margin-top: 5px;
            }
         }
      }
      &__cell {
         margin-bottom: 15px;
      }
      .total {
         text-align: left;
      }
   }
   .city {
      .address-info {
         font-size: 12px;
      }
      &__address {
         padding-bottom: 15px;
         border-bottom: 1px solid $secondary-300;
         margin-bottom: 15px;
      }
      .show-link {
         display: block;
      }
   }
   .contacts {
      .all-address {
         a {
            display: none;
         }
      }
   }
   .map-wrap {
      display: none;
      position: fixed;
      max-width: none;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 13;
      .map {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         height: 80vh;
         &-close {
            position: absolute;
            display: block;
            top: 10px;
            right: 10px;
            z-index: 1;
         }
      }
   }
   .big-order {
      h2 {
         font-size: 22px;
         margin-bottom: 20px;
      }
   }
   .compare {
      &__characteristic {
         width: 250px;
      }
      &__row {
         padding-left: 260px;
      }
   }
}

@include media-breakpoint-down(xs) {
   .section-title {
      padding-right: 90px;
   }
   .tablet-row .logo {
      margin: 0 20px;
      img {
         width: 87%;
      }
   }
   .footer {
      padding-top: 30px;
      padding-bottom: 15px;
      .img-wrap {
         display: none;
      }
      &__column {
         flex-basis: 100%;
         .footer-title {
            &:after {
               display: block;
            }
         }
         .toggle-list {
            margin-top: 5px;
            display: none;
         }
      }
      &__top {
         order: 2;
         margin-bottom: 0;
      }
      .col-md-12 {
         display: flex;
         flex-wrap: wrap;
      }
   }
   .subfooter__info {
      display: block;
      text-align: center;
      span {
         display: inline-block;
         margin-bottom: 10px;
      }
   }
   .login-form {
      .btn {
         font-size: 16px;
      }
   }
   .helper-block form {
      flex-wrap: wrap;
      .btn {
         flex-basis: 100%;
         margin-top: 20px;
         margin-left: 0;
      }
   }
   .product-header__info {
      display: block;
      span {
         display: block;
      }
   }
   .write-review {
      flex-wrap: wrap;
      padding-left: 20px;
      .person-info {
         display: flex;
         align-items: center;
         margin-right: 0;
         text-align: left;
         margin-bottom: 20px;
         width: auto;
         .img-wrap {
            flex: none;
            margin-bottom: 0;
            margin-right: 20px;
         }
         h5 {
            margin-bottom: 0;
         }
      }
   }
   .product-detail {
      .tab-content {
         h4 {
            font-size: 22px;
         }
         p {
            font-size: 16px;
         }
      }
   }
   .review-wrap {
      h3 {
         font-size: 22px;
         margin-bottom: 0;
      }
      .toggle-write-review {
         font-size: 14px;
      }
   }
   .products-slider {
      .left-btn {
         right: 48px;
      }
      .right-btn {
         right: 0;
      }
   }
   .pagination {
      margin: 0 auto;
      &-wrap .helper-btn {
         display: none;
      }
      .page-link {
         padding-right: 3px;
         padding-left: 3px;
      }
   }
   .pagination
   .info-block {
      margin-right: auto;
      h6 {
         font-size: 18px;
      }
   }
   .products-list {
      .product {
         .action-product {
            position: static;
         }
         .current-price {
            left: 15px;
            bottom: 0;
            justify-content: flex-start;
         }
      }
   }
   .sorting {
      position: relative;
      &__functional {
         flex-wrap: wrap;
         width: 100%;
      }
      &__list {
         margin-top: 20px;
         max-width: none;
         margin-left: 0;
         flex-basis: 100%;
         span {
            margin-left: 0;
            margin-right: 10px;
         }
      }
      &__wrap {
         max-width: 100%;
         width: 100%;
      }
   }
   .filter-btn {
      position: absolute;
      top: 5px;
      right: 0;
   }
   .status-wrap form {
      margin-bottom: 30px;
   }
   .basket-content {
      .select2-container {
         min-width: auto;
         max-width: 320px;
         width: 100%!important;
      }
      .company {
         width: 100%;
      }
   }
   .products-list .product .price {
      font-size: 20px;
   }
   .basket-info {
      padding-left: 10px;
      padding-right: 10px;
   }
   .basket-info .sum-to-pay,
   .basket-info {
      .sum-pay {
         font-size: 16px;
      }
   }
   .basket-info .sum-to-pay,
   .basket-info {
      .total-sum {
         font-size: 30px;
      }
   }
   .basket__list {
      .product {
         &__one {
            label.checkbox-input {
               padding-left: 0;
               span {
                  &:before {
                     top: -10px;
                     left: -20px;
                  }
                  &:after {
                     top: -9px;
                     left: -17px;
                  }
               }
            }
         }
         &__two {
            position: static;
            .code {
               display: inline-block;
            }
         }
         .img-wrap {
            width: 65px;
            height: 65px;
         }
         .counter {
            order: 2;
            flex-basis: auto;
            margin: 0 15px;
            &-wrap {
               align-items: center;
            }
            .placeholder,
            .current-count {
               font-size: 20px;
            }
         }
         .action-product {
            order: 3;
         }
      }
      .availability {
         &-list {
            columns: 1;
         }
      }
   }
   .block-pay {
      p {
         font-size: 14px;
      }
      form {
         flex-wrap: wrap;
         .input-wrap {
            margin-bottom: 15px;
         }
         .btn {
            flex-basis: 100%;
         }
      }
   }
   .confirm {
      &__row {
         .confirm__cell {
            &:first-child {
               width: 48%!important;
            }
         }
      }
      &__cell:nth-child(2) {
         padding-right: 10px;
      }
      .product-title {
         display: inline-block;
         width: 130px;
         white-space: nowrap;
         text-overflow: ellipsis;
         overflow: hidden;
      }
      .product-description {
         display: none;
      }
   }
   .popup {
      &__dialog {
         height: 100%;
         width: 100%;
         overflow: auto;
         padding-right: 10px;
         padding-left: 10px;
      }
   }
   .popup-login {
      .log {
         max-width: 290px;
         margin-right: auto;
         margin-left: auto;
      }
      &-content {
         width: 100%;
      }
   }
   .popup-confirm {
      &-content {
         width: 100%;
      }
   }
   .profile-data {
      font-size: 14px;
      h5 {
         font-size: 22px;
      }
   }
   .personal {
      .tab-content {
         padding-top: 30px;
      }
      &-info {
         .personal-mobile-header {
            flex-wrap: wrap;
         }
         .mobile-hide-statistic {
            display: none;
         }
         .personal-statistic {
            flex-basis: 100%;
            .stat-row {
               margin-left: 0;
            }
         }
         .show-toggle {
            display: none;
         }
         &.active {
            .show-toggle {
               display: block;
               .buy-decade,
               .months {
                  display: block;
               }
            }
            .show-more {
               svg {
                  transform: rotate(180deg);
               }
            }
         }
         .show-more {
            position: absolute;
            bottom: 5px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 100%;
            text-align: center;
         }
      }
   }
   .fast-pay {
      &__buttons {
         flex-wrap: wrap;
         margin-top: 15px;
         button {
            margin-top: 5px;
            margin-bottom: 5px;
         }
      }
   }
   .favorite {
      &__settings {
         flex-wrap: wrap;
         .settings {
            order: 2;
         }
         .social {
            order: 1;
            flex-basis: 100%;
            margin-bottom: 15px;
            a {
               margin-left: 0;
               margin-right: 30px;
            }
         }
      }
      &__list {
         .product {
            .action-product {
               margin-left: 10px;
            }
         }
      }
   }
   .individual-data,
   .business-data {
      .btn {
         margin: 30px auto 0;
         max-width: 290px;
      }
      &__row {
         span {
            display: block;
            padding-bottom: 5px;
         }
      }
   }
   .sign-b .btn {
      font-size: 16px;
   }
   .agreement__row {
      font-size: 16px;
      .download {
         margin-right: 15px;
      }
      svg {
         width: 32px;
         height: 32px;
      }
      .view {
         margin-bottom: 10px;
      }
   }
   .calc-function {
      .calc-col {
         flex-basis: 100%;
         img {
            width: 100%;
         }
      }
   }
   .power-table {
      font-size: 12px;
      display: block;
      overflow: auto;
      &-cell .select2-container .select2-selection__rendered {
         font-size: 12px;
      }
   }
   .calc-power {
      .calc-function {
         svg {
            flex: none;
            width: 24px;
            height: 24px;
         }
      }
      .calc-table {
         .calc-item {
            font-size: 12px;
            margin-left: 10px;
         }
      }
   }
   .compare {
      margin-left: -15px;
      width: calc(100% + 30px);
      &__characteristic {
         top: 74px;
         padding-top: 390px;
         width: 160px;
         .input-wrap {
            display: none;
         }
      }
      &__row {
         padding-left: 165px;
      }
      &__cell {
         width: 125px;
      }
      .product {
         padding-right: 10px;
         padding-left: 10px;
         .img-wrap {
            height: 90px;
         }
         h3 {
            font-size: 14px;
         }
         &-wrap {
            height: 391px;
         }
      }
      .like-btn {
         display: none;
      }
      .top-input-wrap {
         display: block;
         margin-bottom: 30px;
         font-size: 14px;
      }
   }
}