.left-menu {
   position: relative;
   min-height: 100%;
   .wrap-nav-main {
      position: sticky;
      top: 0;
      // flex: 1 1 auto;
      // width: 100%;
      // min-height: 100%;
      &.scroll-menu {
         padding-top: 80px;
      }
      .menu-fix {
         position: fixed;
         left: 302px;
         padding-top: 100px;
      }
   }
}

.overlay {
   opacity: 0;
   visibility: hidden;
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100%;
   background: rgba(141, 136, 136, 0.5);
   z-index: 3;
   transition: .2s;
   &.show {
      opacity: 1;
      visibility: visible;
   }
}

.header__wrap-menu {
   position: absolute;
   min-height: 100%;
   max-width: 100%;
   background-color: $white;
   flex-direction: column;
   justify-content: flex-start;
   z-index: 4;
}

.wrap-nav-main {
   a {
      color: $black;
   }
   .container{
      transition: height 150ms ease-out;
   }
   .dropdown-list {
      overflow: auto;
      position: fixed;
      width: 640px;
      padding-top: 30px;
      // padding-bottom: 150px;
      padding-left: 30px;
      scrollbar-width: thin;
      list-style: none;
      background-color: $white;
      box-shadow: 4px 0 18px rgba(0,0,0,.06);
      // height: calc(100% - 1px);
      // top: 0;
      left: 302px;
      opacity: 0;
      visibility: hidden;
      transition: .3s;
      &.active {
         opacity: 1;
         visibility: visible;
      }
      li {
         display: inline-block;
         width: 48%;
         margin-bottom: 40px;
         vertical-align: text-top;
         &:hover {
            .list-title {
               color: $primary
            }
         }
      }
      .list-title {
         display: inline-block;
         font-weight: 600;
         margin-bottom: 10px;
      }
      .links {
         margin-left: 20px;
         span {
            display: block;
            margin-bottom: 5px;
         }
         a {
            &:hover {
               color: $primary;
            }
         }
      }
   }
}

.nav-main {
   padding: 0;
   transition: visibility 350ms ease-out;
   .nav-item {
      display: block;
      width: 100%;
      font-size: 14px;
      padding: 10px 15px;
      .nav-link {
         &__inner {
            &:hover {
               .nav-link {
                  color: $primary;
                  &:before {
                     right: -27px;
                     opacity: 1;
                  }
               }
            }
         }
      }
   }
   .nav-link {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 14px;
      width: 100%;
      text-decoration: none;
      // padding: 10px 15px;
      font-family: $font-family-bold;
      svg {
         width: 20px;
         flex: none;
         fill: $primary;
         margin-right: 15px;
         transition: .3s;
      }
      &:before{
         content: "";
         position: absolute;
         display: block;
         opacity: 0;
         top: calc(50% - 9px);
         right: 0;
         height: 0;
         border-style: solid;
         border-width: 9px 0 9px 12px;
         border-color: transparent transparent transparent $primary;
         z-index: 2;
         transition: .3s;
      }
   }
   .dropdown-toggle{
      &:after{
         display: none;
      }
   }
   .dropdown-menu{
      margin-top: 0;
      box-shadow: 0px 4px 8px rgba(30, 54, 133, 0.12);
      width: 280px;
      li{
         margin-bottom: 0;
      }
   }
   .dropdown-menu .dropdown-menu,
   .dropdown-menu .dropdown-menu .dropdown-menu{
      top: -1px;
      left: 100%;
      right: auto;
   }
   .dropdown-item{
      text-decoration: none;
      color: #737680;
      margin-bottom: .3rem;
      white-space: normal;
      &:hover,
      &.active{
         text-decoration: underline;
      }
   }
}