.mobile-menu {
   display: none;
   z-index: -100;
   position: relative;
   visibility: hidden;
   user-select: none;
   &.is-open {
      display: block;
      z-index: $zindex-fixed;
      visibility: visible;
   }
   &.is-show {
      opacity: 1;
      .mobile-menu__container {
         left: 0;
      }
   }
   &__container {
      position: fixed;
      padding: 15px 15px 30px;
      font-size: 13px;
      top: 0;
      left: -100%;
      width: 245px;
      height: 100%;
      overflow: auto;
      background-color: $gray-100;
      z-index: 4;
      transition: all .5s;
   }
   &__nav {
      margin-top: 10px;
      .mobile-menu__item {
         a {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            text-decoration: none;
            padding: 5px 0;
            color: #333333;
            font-family: $font-family-bold;
            svg {
               flex: none;
               fill: $primary;
               margin-right: 10px;
               transition: .3s;
            }
         }
      }
   }
   &__subnav {
      margin-top: 15px;
      .mobile-menu__item {
         a {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            text-decoration: none;
            padding: 8px 0;
            color: $secondary;
            font-family: $font-family-bold;
         }
      }
   }
   .location {
      margin-top: 5px;
      font-family: $font-family-bold;
      margin-bottom: 10px;
   }
   .login {
      a {
         color: #333333;
         font-family: $font-family-bold;
      }
   }
   .compare-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
         color: $primary;
      }
   }
   .like {
      margin-top: 10px;
      margin-bottom: 20px;
      span {
         right: auto;
         left: 10px;
      }
   }
}

.mobile-hamburger .hamburger.is-active {
   z-index: 1031;
   left: 190px;
   transition: .69s;
}

.overlay-mobile {
   opacity: 0;
   visibility: hidden;
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100%;
   background: rgba(0, 0, 0, 0.7);
   z-index: 3;
   transition: .3s;
   &.show {
      opacity: 1;
      visibility: visible;
   }
}