.status-wrap {
   .btn {
      margin-top: 40px;
   }
   form {
      margin-bottom: 60px;
   }
}

.policy {
   display: block;
   margin-top: 40px;
   font-size: 12px;
   a {
      color: #3F7CB4;
      text-decoration: underline;
   }
}
