.personal {
   width: 100%;
   margin-right: 30px;
   &-wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
   }
   .nav {
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-top: 0;
      &-tabs {
         max-width: 1090px;
         margin-bottom: 0;
         padding-bottom: 30px;
         border-bottom: 2px solid $secondary-300;
      }
      &-link {
         margin-right: 0;
      }
   }
   .tab-content {
      max-width: 1090px;
      padding-top: 40px;
   }
   &-info {
      padding: 30px 40px 110px;
      flex: none;
      max-width: 465px;
      width: 100%;
      background-color: $secondary-300;
      .mobile-hide-statistic {
         display: none;
      }
      .show-toggle {
         margin-top: 50px;
      }
      .show-more {
         display: none;
      }
      .mobile-statistic-decade {
         display: none;
      }
      a {
         color: #3F7CB4;
         text-decoration: underline;
      }
      &__header {
         display: flex;
         align-items: center;
         margin-bottom: 30px;
         p {
            margin-bottom: 0;
         }
         .personal-photo {
            position: relative;
            flex: none;
            width: 135px;
            height: 135px;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            margin-right: 30px;
         }
         .btn-edit {
            position: absolute;
            right: 15px;
            bottom: 5px;
            padding: 0;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            text-align: center;
            border: none;
            background-color: $secondary-200;
            svg {
               margin-top: -7px;
               margin-left: 2px;
               fill: $white;
               transition: .3s;
            }
            &:hover {
               svg {
                  fill: $primary;
               }
            }
         }
         .registered {
            font-size: 14px;
            color: $secondary;
            margin-bottom: 5px;
         }
      }
      .status-desc {
         font-size: 14px;
      }
      .status-desc,
      .small {
         color: $secondary
      }
      .buy-decade {
         margin-bottom: 0;
         font {
            font-family: $font-family-bold;
         }
      }
      .months {
         font-size: 14px;
         color: $secondary
      }
   }
   &-statistic {
      display: table;
      .stat-row {
         display: table-row;
      }
      span {
         display: table-cell;
      }
      .stat-title {
         color: $secondary;
         padding-right: 105px;
      }
      .status {
         text-transform: uppercase;
         font-family: $font-family-bold;
         &.silver {
            color: $secondary-200
         }
         &.gold {
            color: $gold
         }
         &.platinum {
            color: $black
         }
         &.vip {
            color: $red
         }
      }
      .point {
         color: $red
      }
   }
}

.history {
   &__table {
      margin-bottom: 20px;
      &.completed {
         .history__cell,
         .history__add,
         a {
            font-family: $font-family-base;
            color: $secondary;
         }
         .history__add-info {
            a {
               font-family: $font-family-bold;
               color: $secondary;
               &:hover {
                  color: $primary;
               }
            }
         }
         .add-title,
         .total-sum {
            font-family: $font-family-bold!important;
         }
         .amount-products {
            &:after {
               border-color: $secondary transparent transparent transparent;
            }
            &.active {
               &:after {
                  border-color: transparent transparent $secondary transparent;
               }
            }
         }
      }
   }
   .add-row {
      display: flex;
      margin-top: 10px;
   }
   &__add {
      flex: none;
      max-width: 150px;
      width: 100%;
      padding-right: 5px;
   }
   .add-title {
      max-width: 300px;
   }
   .add-title,
   .total-sum {
      font-family: $font-family-bold;
   }
   .total-sum,
   .unit-cost {
      max-width: 120px;
   }
   .amount-2 {
      max-width: 50px;
      margin-right: 20px;
   }
   .status-dispatch {
      max-width: 280px;
      font {
         color: $secondary;
      }
   }
   &__row {
      display: flex;
      justify-content: space-between;
      font-family: $font-family-bold;
   }
   &__cell {
      flex: none;
      max-width: 140px;
      width: 100%;
      text-align: left;
   }
   .add-row-title {
      display: none;
   }
   .date {
      display: block;
      font-size: 14px;
      color: $secondary;
      font-family: $font-family-base;
   }
   .amount-products {
      position: relative;
      color: $black;
      text-decoration: none;
      &:after {
         position: absolute;
         content: "";
         top: calc(50% - 4px);
         right: -15px;
         width: 0;
         height: 0;
         border-style: solid;
         border-width: 10px 5px 0 5px;
         border-color: $black transparent transparent transparent;
      }
      &.active {
         &:after {
            border-width: 0 5px 10px 5px;
            border-color: transparent transparent $black transparent;
         }
      }
   }
   .formed {
      span {
         color: $red;
      }
   }
   .wait {
      span {
         color: $green;
      }
   }
   a {
      color: #3F7CB4;
   }
   .total {
      display: block;
      text-align: right;
   }
   
   &__add-info {
      position: relative;
      display: none;
      a {
         color: $black;
         &:hover {
            color: $primary
         }
      }
      &.show {
         display: block;
      }
      &.mobile-show {
         position: fixed;
         padding: 10px;
         display: block;
         // top: 50px;
         left: 10px;
         width: calc(100% - 20px);
         height: 230px;
         border: 1px solid $secondary;
         background-color: #fff;
         box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.06);
         z-index: 1;
         .overflow {
            overflow: auto;
            height: 100%;
         }
      }
      .amount-products {
         display: block;
         &:after {
            right: 0!important;
            border-width: 0 5px 10px 5px!important;
            border-color: transparent transparent $black transparent!important;
         }
      }
      .number-points {
         position: absolute;
         color: $secondary;
         top: 0;
         right: 0;
      }
   }
}

.favorite {
   &__settings {
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .settings {
         display: flex;
         align-items: center;
      }
      p {
         display: inline-block;
         margin-bottom: 0;
         margin-left: 30px;
         color: $secondary;
         span {
            display: inline-block;
            margin-left: 10px;
            color: $black;
            font-family: $font-family-bold;
         }
      }
      .btn-settings {
         width: auto;
         font-size: 14px;
         display: inline-block;
         vertical-align: middle;
         margin-left: 30px;
         height: 35px;
         padding: 0 10px;
         svg {
            fill: $secondary;
            margin-right: 7px;
            transition: .3s;
         }
         &:hover {
            svg {
               fill: $primary;
            }
         }
      }
      .basket-btn {
         svg {
            stroke: $secondary;
         }
         &:hover {
            svg {
               stroke: $primary;
            }
         }
      }
      .select-all span {
         &:before {
            top: -9px;
         }
         &:after {
            top: -8px;
         }
      }
      .remove-select {
         svg {
            display: none;
         }
      }
      .remove-all {
         svg {
            stroke: transparent;
         }
         &:hover {
            svg {
               stroke: transparent;
            }
         }
      }
   }
   &__list {
      .product {
         max-width: none;
         justify-content: space-between;
         &__one,
         &__two {
            display: flex;
            align-items: center;
         }
         .code {
            vertical-align: top;
         }
         .remove-favorite {
            border: none;
            background-color: #fff;
            order: 5;
            svg {
               fill: $secondary;
            }
         }
         .current-price {
            position: static;
         }
         a {
            flex-wrap: wrap;
            margin-right: 0;
         }
         &__description {
            flex-basis: 100%;
         }
         .action-product {
            margin-top: 0;
            margin-left: 10px;
            flex-wrap: nowrap!important;
            flex: none!important;
         }
      }
   }
}

.notification {
   span {
      &:before {
         top: 4px;
      }
      &:after {
         top: 5px;
      }
   }
}

.profile-data {
   h5 {
      font-size: 24px;
      margin-bottom: 15px;
   }
}

.individual-data {
   margin-bottom: 50px;
   &__table {
      display: table;
   }
   &__row {
      display: table-row;
      span {
         display: table-cell;
         padding-bottom: 15px;
      }
   }
   .title {
      color: $secondary;
      padding-right: 20px;
   }
   .btn {
      display: block;
      max-width: 230px;
      margin-top: 30px;
   }
}

.business-data {
   &__table {
      display: table;
   }
   &__row {
      display: table-row;
      span {
         display: table-cell;
         padding-bottom: 15px;
      }
   }
   .title {
      color: $secondary;
      padding-right: 20px;
   }
   .btn {
      display: block;
      max-width: 230px;
      margin-top: 30px;
   }
}

.sign-b {
   .btn {
      display: block;
      max-width: 400px;
      margin-bottom: 30px;
   }
}

.registration-b {
   display: none;
   .btn {
      display: block;
      margin-top: 20px;
   }
   .input-wrap {
      margin-bottom: 10px;
   }
   p {
      margin-top: 30px;
      color: $secondary;
      font-size: 18px;
   }
}

.agreement {
   &__row {
      margin-bottom: 30px;
      display: flex;
      span {
         display: inline-block;
         margin-right: 25px;
      }
      .view {
         display: inline-block;
         margin-right: 10px;
         svg {
            fill: $black;
            transition: .3s;
         }
         &:hover {
            svg {
               fill: $primary
            }
         }
      }
      .download {
         margin-right: 30px;
         svg {
            fill: $black;
            transition: .3s;
         }
         &:hover {
            svg {
               fill: $primary
            }
         }
      }
   }
   &-number {
      display: inline-block;
      margin-right: 30px;
   }
   .document-info {
      a {
         color: $black;
         &:hover {
            color: $primary;
         }
      }
   }
}

.settlements {
   &__row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &.paid {
         color: $secondary;
         .from-date {
            &:after {
               border-color: $secondary transparent transparent transparent;
            }
            &.active {
               &:after {
                  border-color: transparent transparent $secondary transparent;
               }
            }
         }
      }
   }
   &__cell {
      max-width: 120px;
      padding-bottom: 20px;
      width: 100%;
   }
   .date {
      font-size: 14px;
   }
   /* &__big-cell {
      max-width: 510px;
      width: 100%;
   } */
   .small-cell {
      max-width: 20px;
   }
   .from-date {
      position: relative;
      cursor: pointer;
      &:after {
         position: absolute;
         content: "";
         top: 10px;
         right: 0;
         width: 0;
         height: 0;
         border-style: solid;
         border-width: 7px 4px 0 4px;
         border-color: $black transparent transparent transparent;
      }
      &.active {
         &:after {
            border-width: 0 4px 7px 4px;
            border-color: transparent transparent $black transparent;
         }
      }
   }
   .right-content {
      text-align: right;
      font-family: $font-family-bold;
   }
   .row-info {
      display: table-row;
      span {
         display: table-cell;
         padding: 0 15px 10px;
      }
      &.completed {
         span {
            color: $secondary;
         }
      }
   }
   .add-row {
      display: none;
      &.show {
         display: table-row;
      }
   }
}

.fast-pay {
   width: 100%;
   label.radio-input span {
      &:before,
      &:after {
         top: 50%;
         transform: translateY(-50%);
      }
   }
   &__buttons {
      display: flex;
      margin-top: 30px;
      width: 100%;
      font-size: 12px;
      .btn-primary {
         color: #fff;
      }
      button {
         max-width: none;
         margin-right: 15px;
         width: auto;
      }
   }
}