.page-overflow {
  overflow: hidden;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  .without-registr {
    max-width: 100%;
  }
  .log {
    margin: 0px 30px 30px;
  }
  &__dialog {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 40px 90px 0;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // max-width: 770px;
    // width: 100%;
    // height: 550px;
    padding-bottom: 50px;
    background-color: $white;
  }
  &__close {
    position: absolute;
    top: 20px;
    right: 25px;
    background-color: transparent;
    border: none;
    svg {
      fill: $secondary-200;
      transition: .3s;
    }
    &:hover {
      svg {
        fill: $primary
      }
    }
  }
  &-login-content {
    width: 405px;
    // width: 100%;
    // margin: 0 80px;
    .nav-tabs {
      margin-top: 0;
      justify-content: space-between;
    }
    .input-wrap {
      margin-bottom: 15px;
    }
    .forgot {
      display: block;
      margin-top: 15px;
      text-align: center;
    }
  }
  &-bulk-prices {
    display: none;
    .popup-bulk-content {
      width: 320px;
      h4 {
        margin-bottom: 30px;
      }
      .btn {
        margin-top: 30px;
      }
      .input-wrap {
        margin-bottom: 15px;
      }
    }
  }
  &-support {
    display: none;
    .popup-support-content {
      width: 320px;
      h4 {
        margin-bottom: 30px;
      }
      .btn {
        margin-top: 30px;
      }
      .input-wrap {
        margin-bottom: 15px;
      }
    }
  }
  &-city {
    .popup__dialog {
      height: 330px;
    }
  }
  &-confirm-content {
    display: flex;
    align-items: center;
    max-width: 455px;
    width: 100%;
    margin: 0 auto;
    font-size: 24px;
    h5 {
      font-size: 24px;
      font-family: $font-family-base;
      font-weight: 700;
      margin-bottom: 0;
    }
    .img-wrap {
      margin-right: 40px;
    }
    p {
      margin-bottom: 0;
    }
    .btn {
      margin-top: 15px;
    }
  }
  &-phone-content {
    text-align: center;
    h4 {
      font-size: 24px;
      margin-bottom: 30px;
    }
    input {
      margin: 0 auto;
    }
    form {
      p {
        margin: 40px 0;
        font-size: 14px;
      }
    }
  }
}

.popup-city {
  display: none;
  .link-city {
    display: inline-block;
    margin-top: 5px;
    color: $black;
    &:hover {
      color: $primary;
    }
  }
}

.orange-text {
  color: $primary
}