.product-detail {
   // width: 300px;
   width: 100%;
   .nav-item {
      padding-bottom: 10px;
   }
   .slick-track {
      padding-right: 10%;
      margin-right: 510px;
   }
   &__right {
      flex: none;
      border: 2px solid $secondary-300;
      max-width: 290px;
      margin-top: 65px;
      margin-left: auto;
      .right-header {
         text-align: center;
         border-bottom: 2px solid $secondary-300;
      }
      .right-content {
         padding: 20px 30px;
      }
      .right-info {
         margin-top: 20px;
         font-size: 14px;
         p {
            text-align: center;
            color: $secondary;
         }
      }
      .bonus {
         margin-bottom: 10px;
         color: $secondary;
         span {
            font-size: 18px;
            color: $red;
         }
      }
      .select2-container {
         min-width: 100%;
      }
      .btn {
         margin-top: 20px;
      }
      .btn-cart {
         background-color: $primary;
         color: $white;
      }
      .compare,
      .like {
         display: block;
         margin: 15px auto 0;
         text-align: center;
         border: none;
         background: none;
         color: $secondary;
         transition: .3s;
         svg {
            fill: $secondary;
            stroke: $secondary;
            transition: .3s;
         }
         &:hover {
            color: $primary;
            svg {
               fill: $primary;
               stroke: $primary;
            }
         }
      }
      .like {
         svg {
            fill: transparent;
         }
      }
      .old-price {
         position: relative;
         font-size: 24px;
         color: $secondary-200;
         margin-right: 15px;
         &:before {
            position: absolute;
            content: "";
            top: 48%;
            left: 0;
            width: 100%;
            height: 1px;
            transform: rotate(15deg);
            background-color: $red;
         }
      }
      .price {
         display: inline-block;
         font-size: 24px;
         font-family: $font-family-bold;
      }
   }
   .tab-content {
      max-width: 930px;
      p {
         margin-bottom: 0;
         span {
            font-family: $font-family-bold;
         }
      }
      h4 {
         margin-top: 30px;
      }
   }
}

.counter {
   margin-top: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   button {
      border: none;
      padding: 0;
      width: 24px;
      height: 24px;
      background: none;
      svg {
         fill: $secondary-200;
         transition: .3s;
      }
      &:hover {
         svg {
            fill: $primary;
         }
      }
      &:active {
         svg {
            fill: $black;
         }
      }
   }
   .count {
      margin: 0px 25px;
      display: flex;
   }
   .current-count {
      font-size: 24px;
      color: $black;
      border: none;
      max-width: 35px;
      &:focus {
         outline: none;
      }
   }
   .placeholder {
      font-size: 24px;
      margin-top: 1px;
      color: $secondary-200;
   }
}

.product-header {
   &__info {
      display: flex;
      span {
         display: inline-block;
         margin-right: 40px;
         color: $secondary;
      }
      .rating {
         margin-top: -2px;
         margin-right: 40px;
      }
   }
}

.product-helper {
   margin-top: 65px;
}

.bottom-helper {
   display: none;
}

.helper-block {
   max-width: 610px;
   margin-bottom: 15px;
   padding: 15px 10px 15px 35px;
   border: 2px solid $secondary-300;
   display: flex;
   align-items: center;
   form {
      display: flex;
      align-items: center;
      .btn {
         flex: none;
         width: 160px;
         margin-left: 35px;
      }
   }
   .img-wrap {
      margin-right: 35px;
   }
   svg {
      fill: transparent;
   }
   a {
      font-size: 18px;
      color: $black;
      &:hover {
         color: $primary
      }
   }
}

.char-wrap {
   table {
      border-collapse: separate; 
      border-spacing: 0 15px;
      tr {
         td:first-child {
            color: $secondary;
            padding-right: 15px;
         }
      }
   }
}

.write-review {
   display: flex;
   margin-bottom: 100px;
   .person-info {
      flex: none;
      text-align: center;
      margin-right: 30px;
      width: 130px;
      .img-wrap {
         width: 70px;
         height: 70px;
         background-repeat: no-repeat;
         background-size: cover;
         background-position: 50% 50%;
         margin: 0 auto 20px;
         border-radius: 100%;
         box-shadow: 0px 10px 10px rgba(98, 98, 110, 0.15);
      }
      h5 {
         font-size: 14px;
      }
   }
   form {
      width: 100%;
      textarea {
         width: 100%;
         height: 215px;
         border-radius: none;
         margin-bottom: 40px;
         border-color: $black;
         &:focus {
            outline: none;
         }
      }
      .btn {
         width: 180px;
      }
   }
}

.review-wrap {
   display: flex;
   margin-bottom: 70px;
}

.toggle-write-review {
   position: relative;
   margin-left: 45px;
   padding: 0;
   border: none;
   background: none;
   text-transform: uppercase;
   color: $secondary;
   &:before {
      position: absolute;
      content: "";
      top: 10px;
      right: -20px;
      transform: rotate(135deg);
      width: 10px;
      height: 10px;
      border-top: 2px solid $black;
      border-right: 2px solid $black;
      transition: .3s;
   }
   &:after {
      position: absolute;
      content: "";
      bottom: 4px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $secondary;
   }
   &.active {
      &:before {
         top: 15px;
         transform: rotate(-45deg);
      }
   }
}

.review-user {
   padding-left: 20px;
   .person-info {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      .img-wrap {
         width: 40px;
         height: 40px;
         background-repeat: no-repeat;
         background-size: cover;
         background-position: 50% 50%;
         margin-right: 20px;
         border-radius: 100%;
         box-shadow: 0px 10px 10px rgba(98, 98, 110, 0.15);
      }
      h5 {
         margin-bottom: 0;
      }
   }
   .vote {
      margin-top: 30px;
      span {
         font-size: 14px;
         color: $secondary-200;
      }
      button {
         border: 0;
         background: none;
         font-size: 12px;
         svg {
            margin-top: -5px;
         }
      }
      .cool {
         color: $green;
      }
      .dislike {
         color: $red;
      }
   }
}