.product {
   position: relative;
   max-width: 292px;
   min-height: 438px;
   width: 100%;
   padding: 10px 20px 20px 20px;
   margin-bottom: 20px;
   border: 2px solid #F5F5F5;
   transition: .3s;
   &__description {
      font-size: 14px;
      transition: .3s;
   }
   &:hover {
      box-shadow: 0px 10px 10px rgba(98, 98, 110, 0.15);
      cursor: pointer;
      h3 {
         color: $primary;
      }
   }
   /* .preview-description {
      position: absolute;
      font-size: 12px;
      padding: 4px 15px;
      bottom: 0px;
      left: 0;
      width: 100%;
      background-color: #fff;
      transform: scale(0);
      height: 150px;
      // border: 1px solid $secondary-200;
      box-shadow: 0 2px 7px 0px rgba(98,98,110,.4);
      border-radius: 8px;
      z-index: 1;
      span {
         display: inline-block;
         height: 100%;
         overflow: hidden;
         color: $black;
      }
      // &:before {
      //    position: absolute;
      //    content: "";
      //    top: -11px;
      //    left: calc(50% - 10px);
      //    width: 20px;
      //    height: 20px;
      //    transform: rotate(45deg);
      //    background-color: #fff;
      //    // border-top: 1px solid $secondary-200;
      //    // border-left: 1px solid $secondary-200;
      //    box-shadow: -4px -4px 7px 0px rgba(98,98,110,.15);
      //    z-index: -2;
      // }
   }
   &__description:hover + .preview-description {
      transform: scale(1);
      transition: .3s;
      transition-delay: .4s;
   } */
   .code {
      // display: none;
      color: $secondary;
      font-size: 14px;
      vertical-align: text-bottom;
   }
   h3,
   p {
      color: $black;
   }
   h3 {
      font-size: 18px;
      font-family: $font-family-bold;
      height: 65px;
      overflow: hidden;
      margin: 0; /* Убираем внешний отступ */
      -webkit-line-clamp: 3; /* Число отображаемых строк */
      display: -webkit-box; /* Включаем флексбоксы */
      -webkit-box-orient: vertical; /* Вертикальная ориентация */
      overflow: hidden;
   }
   .img-wrap {
      position: relative;
      text-align: center;
      height: 155px;
      margin-bottom: 15px;
      overflow: hidden;
      transition: .3s;
      img {
         margin: 0 auto;
         max-width: 100%;
         object-fit: cover;
      }
      &:hover {
         transform: scale(1.5);
         box-shadow:0 4px 18px #fff;
         z-index: 2000;
      }
   }
   .btn-add {
      max-width: 90px;
      font-size: 11px;
      padding: 7px 0;
   }
   .action-product {
      position: relative;
   }
   .current-price {
      display: inline-block;
   }
   .old-price {
      position: absolute;
      font-size: 18px;
      color: $secondary-200;
      top: -33px;
      display: flex;
      .value-price {
         position: relative;
         white-space: nowrap;
         &:before {
            position: absolute;
            content: "";
            top: 48%;
            left: 0;
            width: 100%;
            height: 1px;
            transform: rotate(15deg);
            background-color: $red;
         }
      }
      .sale-percent {
         display: inline-block;
         margin-left: 6px;
         color: #fff;
         padding: 3px;
         font-size: 14px;
         background-color: #65a84e;
         border-radius: 3px;
      }
   }
   .price {
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      margin-bottom: 0;
      font-family: $font-family-bold;
   }
   .rating {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      .reviews-count {
         margin-left: 15px;
      }
   }
   &__btn {
      padding: 0;
      width: 32px;
      height: 32px;
      background-color: transparent;
      border: none;
      svg {
         width: 28px;
      }
   }
   .compare-btn {
      fill: $gray-600;
      transition: .3s;
      &:hover {
         fill: $primary;
      }
   }
   .like-btn {
      fill: transparent;
      stroke: $gray-600;
      transition: .3s;
      &:hover {
         fill: $primary;
         stroke: $primary;
      }
   }
}

.product-wrap {
   padding: 0 10px;
}

.add-info {
   font-size: 14px;
   a {
      &:hover {
         text-decoration: underline;
      }
   }
   svg {
      margin-top: -3px;
   }
   margin-bottom: 5px;
}
.add-info.special-price {
   a {
      color: $gold;
   }
   svg {
      fill: $gold;
   }
}
.add-info.action {
   a {
      color: $red;
   }
   svg {
      fill: $red;
   }
}
.add-info.bestseller {
   a {
      color: $green;
   }
   svg {
      fill: $green;
   }
}

.products-list {
   .col-xl-3 {
      flex-basis: 100%;
      max-width: 100%;
   }
   .product {
      position: relative;
      max-width: 1010px;
      min-height: auto;
      padding: 10px 20px;
      width: 100%;
      margin-bottom: 30px;
      &-inner {
         display: flex;
         align-items: flex-start;
         justify-content: space-between;
         &-wrap1 {
            display: flex;
         }
      }
      .code-good {
         display: inline-block;
         margin-bottom: 10px;
      }
      &-wrap {
         width: 100%;
      }
      &-action-wrap {
         display: flex;
         align-items: flex-start;
         justify-content: space-between;
      }
      .preview-description {
         top: 0;
         left: 500px;
         width: 300px;
         height: 100%;
         span {
            height: 100%;
         }
         &:before {
            left: -11px;
            top: calc(50% - 10px);
            border-top: none;
            border-bottom: 1px solid $secondary-200;
         }
      }
      &__description {
         margin-bottom: 0;
         flex-basis: 100%;
      }
      .img-wrap {
         // order: 1;
         margin-bottom: 0;
         margin-right: 20px;
         max-width: 110px;
         height: 100px;
         img {
            max-width: 100%;
         }
      }
      & > a {
         display: flex;
         flex-wrap: wrap;
         max-width: 480px;
         // margin-right: 120px;
         margin-right: 20px;
         // order: 2;
      }
      h3 {
         height: auto;
         font-size: 18px;
         display: inline-block;
         margin-right: 15px;
      }
      .code {
         display: inline-block;
      }
      .add-info {
         margin-bottom: 0;
      }
      .action-product {
         position: static;
         order: 3;
         margin-top: 3%;
         display: flex;
         margin-right: 95px;
         flex: none;
      }
      .compare-btn {
         order: 1;
         margin-right: 15px;
      }
      .product__btn {
         padding: 0;
      }
      .like-btn {
         order: 2;
         margin-right: 15px;
      }
      .btn-add {
         order: 3;
         padding-right: 5px;
         padding-left: 5px;
      }
      .current-price {
         position: absolute;
         bottom: 30px;
         right: 10px;
         .old-price {
            top: 1px;
            right: calc(100% + 20px);
         }
      }
      .rating-wrap {
         order: 4;
         text-align: right;
         flex: none;
         // max-width: 150px;
         // width: 100%;
      }
      /* .old-price {
         position: absolute;
         font-size: 18px;
         color: $secondary-200;
         &:before {
            position: absolute;
            content: "";
            top: 48%;
            left: 0;
            width: 100%;
            height: 1px;
            transform: rotate(15deg);
            background-color: $red;
         }
      } */
      .price {
         display: inline-block;
         vertical-align: middle;
         font-size: 18px;
         margin-bottom: 0;
         margin-right: 5px;
         &-counter {
            font-family: $font-family-bold;
         }
      }
   }
}

.products-showcase {
   width: 100%;
   .products-list {
      .product {
         padding-right: 15px;
         padding-left: 15px;
         .code {
            display: block;
            margin-left: 0;
         }
         .img-wrap {
            flex: none;
         }
      }
   }
}