.main-slider {
   &__item {
      position: relative;
      height: 310px;
      display: flex!important;
   }
   &__preview {
      flex-basis: 50%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
   }
   &__info {
      position: relative;
      // display: inline-block;
      padding-top: 50px;
      padding-left: 140px;
      flex-basis: 50%;
      height: 100%;
      background-color: #f5f5f5;
      box-shadow: 20px 0px 20px 20px #f5f5f5;
      z-index: 1;
      h4 {
         color: $primary;
         font-size: 18px;
         font-weight: 600;
      }
      span {
         font-size: 18px;
         display: block;
      }
      .bot-info {
         margin-top: 30px;
         .btn {
            max-width: 260px;
         }
         .category {
            margin-left: 40px;
            vertical-align: middle;
            display: inline-block;
         }
         h3 {
            font-size: 24px;
         }
         p {
            font-size: 17px;
            margin-bottom: 0;
         }
      }
   }
   .slider-btn {
      bottom: 10px;
      background-color: #fff;
   }
   .left-btn {
      right: 38%;
   }
   .right-btn {
      right: 35%;
   }
}