body {
   overflow-x: hidden;
}

.btn-default {
   background-color: #f2994a;
   color: #fff;
   border-radius: 20px;
}

.page-overflow {
   overflow: hidden;
}

.main {
   // zoom: 90%;
   &__content {
      padding-top: 20px;
      padding-bottom: 100px;
      .content {
         position: relative;
         display: flex;
         justify-content: space-between;
         align-items: flex-start;
         &-wrap {
            flex: none;
         }
      }
   }
   .col-xl-2 {
      // max-width: 300px;
      width: 100%;
      min-height: 100%;
      // flex: 1 1 auto;
      padding-left: 0;
   }
   .text-wrap {
      max-width: 1090px;
   }
   &.head-fix {
      padding-top: 110px;
   }
}

.type-page {
   width: 100%;
}

.text-page {
   max-width: 1090px;
   img {
      max-width: 100%;
      margin-bottom: 30px;
   }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
   -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
-moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slick-slide {
   &:focus {
      outline: none;
   }
}

@import "hamburgers/hamburgers";
@import "slider-range";
@import "slick";
@import "slick-theme";
@import "owl.carousel";
@import "owl.theme.default";
@import "fonts";
@import "components";
@import "select2";
@import "fotorama";
@import "ion-rangeslider";

@import "menu";
@import "mmenu";
@import "mobile-menu";
@import "header";
@import "filter";
@import "product";
@import "product-detail";
@import "header-menu";
@import "login";
@import "order-status";
@import "feedback";
@import "slider";
@import "info-block";
@import "personal";
@import "basket";
@import "compare";
@import "contacts";
@import "calculating";
@import "popups";
@import "footer";
@import "media";