.range-wrap {
	// position: relative;
	span {
		font-size: 16px;
		color: $secondary;
	}
}

.range {
	width: 100%;
	height: 2px;
	background-color: $secondary;
}

.range__button_1, .range__button_2 {
	position: absolute;
	bottom: -17px;
	width: 18px;
	height: 18px;
	transform: translateY(-50%);
	border: 2px solid $primary;
	border-radius: 50%;
	background-color: #fff;
	z-index: 2;
}
.range__between {
	position: absolute;
	height: 2px;
	bottom: 0;
	width: 0px;
	margin-top: 3px;
	border: none;
	background-color: $primary;
}

.range_inpt1, .range_inpt2 {
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid $black;
	width: 90px;
	font-size: 18px;
	outline: none;
}